//设置内容区的字体颜色(home页)
$content-fontcolor: #333;
$medium-fontColor: #666;
$light-fontColor: #999;
$content_bgColor: #F1F1F1;
//登录页文字颜色
$content-notice-fontcolor: #777;
//搜索框背景颜色
$search-bgColor: #F5F5F5;
//搜索框文字颜色font
$search-fontColor: #B7B7B7;
//激活状态的背景色
$bgColor: #FFF;
//红色高亮颜色
$highlight-fontColor: #e93b3b;
//按钮蓝色背景
$btn-bgColor: #0091FF;